@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	/* default dark mode for now */
	--background: 31, 41, 55;
	--background-alt: 17, 24, 39;
	--primary: 250, 250, 250;
	--secondary: 200, 200, 200;
	--tertiary: 100, 100, 100;

	--light-neutral: 250, 250, 250;
	--dark-neutral: 5, 5, 5;
	--dark-orange: 255, 60, 0;
	--med-orange: 255, 125, 40;
	--light-orange: 255, 155, 90;
	--success-background: 175, 255, 175;
	--success: 0, 200, 0;
	--error-background: 255, 175, 175;
	--error: 200, 0, 0;
	--link: 0, 100, 240;
	--link-hover: 0, 50, 255;
}

.light {
	--background: 250, 250, 250;
	--background-alt: 229, 231, 235;
	--primary: 18, 18, 18;
	--secondary: 29, 29, 29;
	--tertiary: 170, 170, 170;
}

.dark {
	--background: 31, 41, 55;
	--background-alt: 17, 24, 39;
	--primary: 250, 250, 250;
	--secondary: 200, 200, 200;
	--tertiary: 100, 100, 100;
}
